
.heading { 
    text-align: center; 
    background-color: #eee;
    font-size: 12px;
    box-shadow: 1px 1px 5px #ccc;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 12px;
}

.btn {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #eee;
    font-size: 12px;
    box-shadow: 1px 1px 5px #ccc;
    transition: 100ms;
    margin-right: 5px;
    margin-top: 5px;
}

.btn:hover {
    transition: translateY(-1px);
    box-shadow: 2px 2px 5px #ccc;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.filter-item {
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

